body {
  background-image: url(../images/crystal_cave_bkg.png);
  background-size: 1280px;
}
#crystals {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}
.crystal-image {
    width: 200px;
    height: 200px;
    padding: 10px;

  }

 

  header, h1, h3, h4 {
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    width: 100%;



  }

  #title {
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(255, 255 ,255, 0.6);
    color: blue;
    font-size: 42px;
    font-weight: bolder;

  }

  #instructions {
    margin: auto;
    padding: 20px;
    /* background: rgba(255, 255 ,255, 0.6); */
  }

  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: white;
    text-align: center;


  }

  #goal {
    font-family: 'Tenor Sans', sans-serif;
    color: black;
    text-align: center;
    width: 100%;
    font-weight: bolder;
  }

  #scorecard {
    background: rgba(255, 255 ,255, 0.6);
    color: blue;
  }


  

